In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.options.display.max_columns=None

## Archivo data_remaning_kaggle.csv
---

In [4]:
kaggle = pd.read_csv('data_remaning_kaggle.csv')
kaggle.head(3)

,Unnamed: 0,index,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,Q19_Part_2,Q19_Part_3,Q19_Part_4,Q19_Part_5,Q19_OTHER,Q27_A_Part_1,Q27_A_Part_2,Q27_A_Part_3,Q27_A_Part_4,Q27_A_Part_5,Q27_A_Part_6,Q27_A_Part_7,Q27_A_Part_8,Q27_A_Part_9,Q27_A_Part_10,Q27_A_Part_11,Q27_A_OTHER,Q28,Q29_A_Part_1,Q29_A_Part_2,Q29_A_Part_3,Q29_A_Part_4,Q29_A_OTHER,Q30_A_Part_1,Q30_A_Part_2,Q30_A_Part_3,Q30_A_Part_4,Q30_A_Part_5,Q30_A_Part_6,Q30_A_Part_7,Q30_A_OTHER,Q31_A_Part_1,Q31_A_Part_2,Q31_A_Part_3,Q31_A_Part_4,Q31_A_Part_5,Q31_A_Part_6,Q31_A_Part_7,Q31_A_Part_8,Q31_A_Part_9,Q31_A_OTHER,Q36_A_Part_1,Q36_A_Part_2,Q36_A_Part_3,Q36_A_Part_4,Q36_A_Part_5,Q36_A_Part_6,Q36_A_Part_7,Q36_A_OTHER,Q37_A_Part_1,Q37_A_Part_2,Q37_A_Part_3,Q37_A_Part_4,Q37_A_Part_5,Q37_A_Part_6,Q37_A_Part_7,Q37_A_OTHER,Q38_A_Part_1,Q38_A_Part_2,Q38_A_Part_3,Q38_A_Part_4,Q38_A_Part_5,Q38_A_Part_6,Q38_A_Part_7,Q38_A_Part_8,Q38_A_Part_9,Q38_A_Part_10,Q38_A_Part_11,Q38_A_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER,Q40_Part_1,Q40_Part_2,Q40_Part_3,Q40_Part_4,Q40_Part_5,Q40_Part_6,Q40_Part_7,Q40_Part_8,Q40_Part_9,Q40_Part_10,Q40_Part_11,Q40_OTHER,Q42_Part_1,Q42_Part_2,Q42_Part_3,Q42_Part_4,Q42_Part_5,Q42_Part_6,Q42_Part_7,Q42_Part_8,Q42_Part_9,Q42_Part_10,Q42_Part_11,Q42_OTHER,Q27_B_Part_1,Q27_B_Part_2,Q27_B_Part_3,Q27_B_Part_4,Q27_B_Part_5,Q27_B_Part_6,Q27_B_Part_7,Q27_B_Part_8,Q27_B_Part_9,Q27_B_Part_10,Q27_B_Part_11,Q27_B_OTHER,Q29_B_Part_1,Q29_B_Part_2,Q29_B_Part_3,Q29_B_Part_4,Q29_B_OTHER,Q30_B_Part_1,Q30_B_Part_2,Q30_B_Part_3,Q30_B_Part_4,Q30_B_Part_5,Q30_B_Part_6,Q30_B_Part_7,Q30_B_OTHER,Q31_B_Part_1,Q31_B_Part_2,Q31_B_Part_3,Q31_B_Part_4,Q31_B_Part_5,Q31_B_Part_6,Q31_B_Part_7,Q31_B_Part_8,Q31_B_Part_9,Q31_B_OTHER,Q32_B_Part_1,Q32_B_Part_2,Q32_B_Part_3,Q32_B_Part_4,Q32_B_Part_5,Q32_B_Part_6,Q32_B_Part_7,Q32_B_Part_8,Q32_B_Part_9,Q32_B_Part_10,Q32_B_Part_11,Q32_B_Part_12,Q32_B_Part_13,Q32_B_Part_14,Q32_B_Part_15,Q32_B_Part_16,Q32_B_Part_17,Q32_B_Part_18,Q32_B_Part_19,Q32_B_Part_20,Q32_B_OTHER,Q34_B_Part_1,Q34_B_Part_2,Q34_B_Part_3,Q34_B_Part_4,Q34_B_Part_5,Q34_B_Part_6,Q34_B_Part_7,Q34_B_Part_8,Q34_B_Part_9,Q34_B_Part_10,Q34_B_Part_11,Q34_B_Part_12,Q34_B_Part_13,Q34_B_Part_14,Q34_B_Part_15,Q34_B_Part_16,Q34_B_OTHER,Q36_B_Part_1,Q36_B_Part_2,Q36_B_Part_3,Q36_B_Part_4,Q36_B_Part_5,Q36_B_Part_6,Q36_B_Part_7,Q36_B_OTHER,Q37_B_Part_1,Q37_B_Part_2,Q37_B_Part_3,Q37_B_Part_4,Q37_B_Part_5,Q37_B_Part_6,Q37_B_Part_7,Q37_B_OTHER,Q38_B_Part_1,Q38_B_Part_2,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,0,0,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Storage (GCS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,Coursera,edX,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",University Courses (resulting in a university ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,Oracle Cloud,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,MySQL,NaN,SQLite,Oracle Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Data Studio,NaN,NaN,NaN,NaN,Qlik,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Automated model selection (e.g. auto-sklearn, ...",NaN,NaN,NaN,NaN,NaN,Google Cloud AutoML,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DataRobot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I do not share my work publicly,NaN,NaN,NaN,NaN,DataCamp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,NaN,NaN,NaN,Amazon Web Services (AWS),NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Azure Virtual Machines,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Azure Machine Learning Studio,Google Cloud Vertex AI,DataRobot,NaN,NaN,NaN,NaN,NaN,NaN,MySQL,PostgreSQL,NaN,NaN,MongoDB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Power BI,NaN,NaN,NaN,Tableau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Automated model selection (e.g. auto-sklearn, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DataRobot AutoML,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
list(kaggle.columns)

['Unnamed: 0',
 'index',
 'Q18_Part_1',
 'Q18_Part_2',
 'Q18_Part_3',
 'Q18_Part_4',
 'Q18_Part_5',
 'Q18_Part_6',
 'Q18_OTHER',
 'Q19_Part_1',
 'Q19_Part_2',
 'Q19_Part_3',
 'Q19_Part_4',
 'Q19_Part_5',
 'Q19_OTHER',
 'Q27_A_Part_1',
 'Q27_A_Part_2',
 'Q27_A_Part_3',
 'Q27_A_Part_4',
 'Q27_A_Part_5',
 'Q27_A_Part_6',
 'Q27_A_Part_7',
 'Q27_A_Part_8',
 'Q27_A_Part_9',
 'Q27_A_Part_10',
 'Q27_A_Part_11',
 'Q27_A_OTHER',
 'Q28',
 'Q29_A_Part_1',
 'Q29_A_Part_2',
 'Q29_A_Part_3',
 'Q29_A_Part_4',
 'Q29_A_OTHER',
 'Q30_A_Part_1',
 'Q30_A_Part_2',
 'Q30_A_Part_3',
 'Q30_A_Part_4',
 'Q30_A_Part_5',
 'Q30_A_Part_6',
 'Q30_A_Part_7',
 'Q30_A_OTHER',
 'Q31_A_Part_1',
 'Q31_A_Part_2',
 'Q31_A_Part_3',
 'Q31_A_Part_4',
 'Q31_A_Part_5',
 'Q31_A_Part_6',
 'Q31_A_Part_7',
 'Q31_A_Part_8',
 'Q31_A_Part_9',
 'Q31_A_OTHER',
 'Q36_A_Part_1',
 'Q36_A_Part_2',
 'Q36_A_Part_3',
 'Q36_A_Part_4',
 'Q36_A_Part_5',
 'Q36_A_Part_6',
 'Q36_A_Part_7',
 'Q36_A_OTHER',
 'Q37_A_Part_1',
 'Q37_A_Part_2',
 'Q37_A_Part_3',
 'Q37_A_Part_4',
 'Q37_A_Part_5',
 'Q37_A_Part_6',
 'Q37_A_Part_7',
 'Q37_A_OTHER',
 'Q38_A_Part_1',
 'Q38_A_Part_2',
 'Q38_A_Part_3',
 'Q38_A_Part_4',
 'Q38_A_Part_5',
 'Q38_A_Part_6',
 'Q38_A_Part_7',
 'Q38_A_Part_8',
 'Q38_A_Part_9',
 'Q38_A_Part_10',
 'Q38_A_Part_11',
 'Q38_A_OTHER',
 'Q39_Part_1',
 'Q39_Part_2',
 'Q39_Part_3',
 'Q39_Part_4',
 'Q39_Part_5',
 'Q39_Part_6',
 'Q39_Part_7',
 'Q39_Part_8',
 'Q39_Part_9',
 'Q39_OTHER',
 'Q40_Part_1',
 'Q40_Part_2',
 'Q40_Part_3',
 'Q40_Part_4',
 'Q40_Part_5',
 'Q40_Part_6',
 'Q40_Part_7',
 'Q40_Part_8',
 'Q40_Part_9',
 'Q40_Part_10',
 'Q40_Part_11',
 'Q40_OTHER',
 'Q42_Part_1',
 'Q42_Part_2',
 'Q42_Part_3',
 'Q42_Part_4',
 'Q42_Part_5',
 'Q42_Part_6',
 'Q42_Part_7',
 'Q42_Part_8',
 'Q42_Part_9',
 'Q42_Part_10',
 'Q42_Part_11',
 'Q42_OTHER',
 'Q27_B_Part_1',
 'Q27_B_Part_2',
 'Q27_B_Part_3',
 'Q27_B_Part_4',
 'Q27_B_Part_5',
 'Q27_B_Part_6',
 'Q27_B_Part_7',
 'Q27_B_Part_8',
 'Q27_B_Part_9',
 'Q27_B_Part_10',
 'Q27_B_Part_11',
 'Q27_B_OTHER',
 'Q29_B_Part_1',
 'Q29_B_Part_2',
 'Q29_B_Part_3',
 'Q29_B_Part_4',
 'Q29_B_OTHER',
 'Q30_B_Part_1',
 'Q30_B_Part_2',
 'Q30_B_Part_3',
 'Q30_B_Part_4',
 'Q30_B_Part_5',
 'Q30_B_Part_6',
 'Q30_B_Part_7',
 'Q30_B_OTHER',
 'Q31_B_Part_1',
 'Q31_B_Part_2',
 'Q31_B_Part_3',
 'Q31_B_Part_4',
 'Q31_B_Part_5',
 'Q31_B_Part_6',
 'Q31_B_Part_7',
 'Q31_B_Part_8',
 'Q31_B_Part_9',
 'Q31_B_OTHER',
 'Q32_B_Part_1',
 'Q32_B_Part_2',
 'Q32_B_Part_3',
 'Q32_B_Part_4',
 'Q32_B_Part_5',
 'Q32_B_Part_6',
 'Q32_B_Part_7',
 'Q32_B_Part_8',
 'Q32_B_Part_9',
 'Q32_B_Part_10',
 'Q32_B_Part_11',
 'Q32_B_Part_12',
 'Q32_B_Part_13',
 'Q32_B_Part_14',
 'Q32_B_Part_15',
 'Q32_B_Part_16',
 'Q32_B_Part_17',
 'Q32_B_Part_18',
 'Q32_B_Part_19',
 'Q32_B_Part_20',
 'Q32_B_OTHER',
 'Q34_B_Part_1',
 'Q34_B_Part_2',
 'Q34_B_Part_3',
 'Q34_B_Part_4',
 'Q34_B_Part_5',
 'Q34_B_Part_6',
 'Q34_B_Part_7',
 'Q34_B_Part_8',
 'Q34_B_Part_9',
 'Q34_B_Part_10',
 'Q34_B_Part_11',
 'Q34_B_Part_12',
 'Q34_B_Part_13',
 'Q34_B_Part_14',
 'Q34_B_Part_15',
 'Q34_B_Part_16',
 'Q34_B_OTHER',
 'Q36_B_Part_1',
 'Q36_B_Part_2',
 'Q36_B_Part_3',
 'Q36_B_Part_4',
 'Q36_B_Part_5',
 'Q36_B_Part_6',
 'Q36_B_Part_7',
 'Q36_B_OTHER',
 'Q37_B_Part_1',
 'Q37_B_Part_2',
 'Q37_B_Part_3',
 'Q37_B_Part_4',
 'Q37_B_Part_5',
 'Q37_B_Part_6',
 'Q37_B_Part_7',
 'Q37_B_OTHER',
 'Q38_B_Part_1',
 'Q38_B_Part_2',
 'Q38_B_Part_3',
 'Q38_B_Part_4',
 'Q38_B_Part_5',
 'Q38_B_Part_6',
 'Q38_B_Part_7',
 'Q38_B_Part_8',
 'Q38_B_Part_9',
 'Q38_B_Part_10',
 'Q38_B_Part_11',
 'Q38_B_OTHER']

In [15]:
kaggle.shape

(25973, 214)

In [19]:
kaggle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25973 entries, 0 to 25972
Columns: 214 entries, Unnamed: 0 to Q38_B_OTHER
dtypes: float64(8), int64(2), object(204)
memory usage: 42.4+ MB

In [20]:
kaggle.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,25973.0,12986.0,7497.903607,0.0,6493.0,12986.0,19479.0,25972.0
index,25973.0,12986.0,7497.903607,0.0,6493.0,12986.0,19479.0,25972.0
Q30_B_Part_1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_OTHER,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
kaggle.describe(include = 'object').T

,count,unique,top,freq
Q18_Part_1,2662,1,"General purpose image/video tools (PIL, cv2, s...",2662
Q18_Part_2,2740,1,"Image segmentation methods (U-Net, Mask R-CNN,...",2740
Q18_Part_3,2716,1,"Object detection methods (YOLOv3, RetinaNet, etc)",2716
Q18_Part_4,4373,1,Image classification and other general purpose...,4373
Q18_Part_5,1492,1,"Generative Networks (GAN, VAE, etc)",1492
...,...,...,...,...
Q38_B_Part_8,1020,1,ClearML,1020
Q38_B_Part_9,666,1,Domino Model Monitor,666
Q38_B_Part_10,2747,1,MLflow,2747
Q38_B_Part_11,4542,1,None,4542
Q38_B_OTHER,377,1,Other,377

In [24]:
kaggle.duplicated().sum()

0

In [ ]:
kaggle.duplicated(subset = ['']).sum()

In [5]:
kaggle.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [6]:
kaggle.isnull().sum()/len(kaggle)*100

index             0.000000
Q18_Part_1       89.750895
Q18_Part_2       89.450583
Q18_Part_3       89.542987
Q18_Part_4       83.163285
                   ...
Q38_B_Part_8     96.072845
Q38_B_Part_9     97.435799
Q38_B_Part_10    89.423632
Q38_B_Part_11    82.512609
Q38_B_OTHER      98.548493
Length: 213, dtype: float64

In [7]:
kaggle.size

5532249

## Archivo exported_db_data.csv
---

In [8]:
respuesta_q10= pd.read_csv('exported_db_data.csv')
respuesta_q10.head(10)

,index,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER
0,0,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN
5,5,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Notebooks (AI Platform / Vertex AI),NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Vemos el porcentaje de nulls

In [18]:
respuesta_q10.isnull().sum()/len(respuesta_q10)*100

index           0.000000
Q10_Part_1     63.396604
Q10_Part_2     62.299311
Q10_Part_3     95.911138
Q10_Part_4     99.195318
Q10_Part_5     93.185231
Q10_Part_6     99.326223
Q10_Part_7     95.891888
Q10_Part_8     97.100835
Q10_Part_9     98.660147
Q10_Part_10    92.103338
Q10_Part_11    93.092827
Q10_Part_12    97.728410
Q10_Part_13    99.033612
Q10_Part_14    98.998960
Q10_Part_15    99.434028
Q10_Part_16    72.379009
Q10_OTHER      97.162438
dtype: float64

Del archivo respuesta_q10 lo que más nos interesa son las columnas q10_part1, q10_part2 y q10_part16

In [22]:
notebooks = respuesta_q10.loc[:,['index','Q10_Part_1','Q10_Part_2','Q10_Part_16']]
notebooks

       index         Q10_Part_1       Q10_Part_2 Q10_Part_16
0          0                NaN  Colab Notebooks         NaN
1          1   Kaggle Notebooks  Colab Notebooks         NaN
2          2   Kaggle Notebooks              NaN         NaN
3          3                NaN  Colab Notebooks         NaN
4          4                NaN              NaN         NaN
...      ...                ...              ...         ...
25968  25968                NaN  Colab Notebooks         NaN
25969  25969                NaN              NaN        None
25970  25970                NaN              NaN         NaN
25971  25971                NaN              NaN        None
25972  25972                NaN              NaN         NaN

[25973 rows x 4 columns]

'notebooks' es ahora el DataFrame del archivo exported_db_data.csv, con las columnas que nos interesan

In [23]:
columnas_nuevas1 ={'Q10_Part_1':'kaggle','Q10_Part_2':'colab','Q10_Part_16':'ninguno'}

In [24]:
notebooks.rename(columns = columnas_nuevas1,inplace = True)

In [25]:
notebooks

       index             kaggle            colab ninguno
0          0                NaN  Colab Notebooks     NaN
1          1   Kaggle Notebooks  Colab Notebooks     NaN
2          2   Kaggle Notebooks              NaN     NaN
3          3                NaN  Colab Notebooks     NaN
4          4                NaN              NaN     NaN
...      ...                ...              ...     ...
25968  25968                NaN  Colab Notebooks     NaN
25969  25969                NaN              NaN    None
25970  25970                NaN              NaN     NaN
25971  25971                NaN              NaN    None
25972  25972                NaN              NaN     NaN

[25973 rows x 4 columns]

## Archivo data_xml_clean.xml
---

In [27]:
data_xml = pd.read_xml('data_xml_clean.xml')
data_xml.head(10)

   level_0  index  time    age gender
0        0      0   910  50-54    Man
1        1      1   784  50-54    Man
2        2      2   924  22-24    Man
3        3      3   575  45-49    Man
4        4      4   781  45-49    Man
5        5      5  1020  25-29  Woman
6        6      6   141  18-21  Woman
7        7      7   484  30-34    Man
8        8      8  1744  22-24    Man
9        9      9   655  30-34    Man

In [28]:
data_xml.drop(['level_0'], axis = 1, inplace = True)

In [29]:
data_xml

       index  time    age gender
0          0   910  50-54    Man
1          1   784  50-54    Man
2          2   924  22-24    Man
3          3   575  45-49    Man
4          4   781  45-49    Man
...      ...   ...    ...    ...
25968  25968  1756  30-34    Man
25969  25969   253  22-24    Man
25970  25970   494  50-54    Man
25971  25971   277  45-49    Man
25972  25972   255  18-21    Man

[25973 rows x 4 columns]

## Archivo data_txt_clean.txt
---

In [30]:
data_txt = pd.read_csv('data_txt_clean.txt', sep =';')
data_txt.head(2)

,index,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
0,0,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None
1,1,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,We are exploring ML methods (and may one day p...,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN

In [31]:
data_txt.isnull().sum()/len(data_txt)*100 # porcentaje de nulos

index     0.000000
Q3        0.000000
Q4        0.000000
Q5        0.000000
Q6        0.000000
Q8        3.977207
Q11       4.824241
Q13       6.044739
Q15       8.543487
Q20      37.146267
Q21      37.431179
Q22      37.912448
Q23      38.582374
Q25      40.742309
Q26      41.543141
Q33      82.073692
Q35      91.387210
Q41      28.814538
Q7        3.973357
Q9        4.000308
Q12       5.355562
Q14       7.711855
Q16      24.444616
Q17      25.634313
Q24      39.802872
Q32      63.485158
Q34      63.812421
dtype: float64

In [32]:
# variable para renombrar las columnas 
columnas_nuevas ={'Q3':'pais','Q4':'estudios','Q5':'puesto_trabajos','Q6':'experiencia','Q7':'lenguaje_utilizado','Q8':'lenguaje_recomendado','Q9':'IDE','Q11':'dispositivo','Q12':'hardware','Q14':'herramientas_visualizacion','Q15':'experiencia_ML','Q20':'industria','Q21':'tamaño_empresa','Q22':'responsables_DS','Q24':'tareas_principales','Q25':'salario','Q41':'herramienta_DA'}

In [33]:
data_txt.rename(columns = columnas_nuevas,inplace = True) # renombrara las columnas
data_txt.head(10)

,index,pais,estudios,puesto_trabajos,experiencia,lenguaje_recomendado,dispositivo,Q13,experiencia_ML,industria,tamaño_empresa,responsables_DS,Q23,salario,Q26,Q33,Q35,herramienta_DA,lenguaje_utilizado,IDE,hardware,herramientas_visualizacion,Q16,Q17,tareas_principales,Q32,Q34
0,0,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None
1,1,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,We are exploring ML methods (and may one day p...,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN
2,2,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,A laptop,Never,I do not use machine learning methods,Academics/Education,"1000-9,999 employees",0,I do not know,$0-999,$0 ($USD),MySQL,NaN,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java","PyCharm ,Jupyter Notebook, Other",Other,Matplotlib,NaN,NaN,None of these activities are an important par...,"MySQL , MongoDB",None
3,3,Mexico,Doctoral degree,Research Scientist,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",More than 25 times,5-10 years,Academics/Education,"1000-9,999 employees",0,I do not know,"30,000-39,999",$0 ($USD),NaN,NaN,"Local development environments (RStudio, Jupyt...",Python,"Spyder,Jupyter Notebook",NVIDIA GPUs,Matplotlib,"Scikit-learn , TensorFlow ,Keras","Dense Neural Networks (MLPs, etc), Convolutio...",Do research that advances the state of the ar...,NaN,NaN
4,4,India,Doctoral degree,Other,< 1 years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,10-20 years,Academics/Education,50-249 employees,5-9,We use ML methods for generating insights (but...,"30,000-39,999","$1000-$9,999",NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, C, MATLAB","Spyder,MATLAB ,Jupyter Notebook",None,"Matplotlib ,Seaborn ,Ggplot / ggplot2","Scikit-learn ,PyTorch ,LightGBM","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,None,Microsoft Power BI
5,5,India,I prefer not to answer,Currently not employed,< 1 years,Python,A laptop,2-5 times,< 1 year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Local development environments (RStudio, Jupyt...",Python,"Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...",Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2","Scikit-learn , TensorFlow ,Keras ,PyTorch ,Fas...","Linear or Logistic Regression, Decision Trees ...",NaN,NaN,NaN
6,6,India,Some college/university study without earning ...,Student,1-3 years,Python,A laptop,Never,< 1 year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"C++, Java, Javascript","Visual Studio ,Visual Studio Code (VSCode) ,Ju...",None,Geoplotlib,Fast.ai,NaN,NaN,NaN,NaN
7,7,India,Bachelor’s degree,Data Scientist,5-10 years,Python,A personal computer / desktop,2-5 times,2-3 years,Computers/Technology,"10,000 or more employees",3-4,"We have well established ML methods (i.e., mod...","15,000-19,999",$1-$99,NaN,NaN,"Basic statistical software (Microsoft Excel, G...",Python,Jupyter Notebook,Google Cloud TPUs,"Matplotlib ,Plotly / Plotly Express","Scikit-learn , TensorFlow ,Keras","Decision Trees or Random Forests, Dense Neura...",Build and/or run the data infrastructure that...,MySQL,None
8,8,Russia,Bachelor’s degree,Currently not employed,3-5 years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Basic statistical software (Microsoft Excel, G...","Python, SQL",Other,None,Matplotlib,"Scikit-learn ,Xgboost","Decision Trees or Random Forests, Gradient Bo...",NaN,NaN,NaN
9,9,Turkey,I prefer not to answer,Other,1-3 years,SQL,A laptop,Never,< 1 year,Manufacturing/Fabrication,50-249 employees,1-2,I do not know,$0-999,$0 ($USD),NaN,NaN,"Business intelligence software (Salesforce, Ta...","Python, SQL","Spyder,Jupyter Notebook",None,"Matplotlib ,Seaborn","Scikit-learn , TensorFlow",Linear or Logistic Regression,Analyze and understand data to influence produ...,NaN,NaN

In [34]:
data_txt.drop(['Q33','Q35'], axis = 1, inplace = True) # borramos las columnas Q33 y Q35

In [35]:
data_txt.columns # vemos las columnas que tenemo

Index(['index', 'pais', 'estudios', 'puesto_trabajos', 'experiencia',
       'lenguaje_recomendado', 'dispositivo', 'Q13', 'experiencia_ML',
       'industria', 'tamaño_empresa', 'responsables_DS', 'Q23', 'salario',
       'Q26', 'herramienta_DA', 'lenguaje_utilizado', 'IDE', 'hardware',
       'herramientas_visualizacion', 'Q16', 'Q17', 'tareas_principales', 'Q32',
       'Q34'],
      dtype='object')